.container {
  height: 50vh;
}
.card {
  width: 350px;
  height: 250px;
  background-color: rgb(228, 151, 19);
  color: black;

  .btn {
    background-color: black;
    color: rgb(228, 151, 19);
  }
}
