.container {
  height: 60vh;
  width: 30%;
  background-color: rgb(228, 151, 19);
  color: black;
}
.card {
  width: 350px;
  height: 250px;
  background-color: rgb(228, 151, 19);
  color: black;

  .formGroup {
    margin-bottom: 10px;
  }
  .btnReg {
    background-color: black;
    color: rgb(228, 151, 19);
    cursor: pointer;
    transition: transform 0.3s;
  }

  .btnReg:hover {
    transform: scale(1, 1);
  }
}
