.card-main {
  padding: 2px;
  background-color: black;
  border: 1px solid white;
  color: rgb(228, 151, 19);
  height: 250px;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  h4 {
    text-align: left;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .privacy {
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
}

.card {
  width: 200px;
  height: 200px;
  background-color: rgb(228, 151, 19);
  color: black;
}
