<div class="container home-content mt-5">
  <div class="row d-flex">
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Azione</div>
      </div>
    </div>
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Guerra</div>
      </div>
    </div>
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Storici</div>
      </div>
    </div>
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">SerieTv</div>
      </div>
    </div>
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Horror</div>
      </div>
    </div>

    <div class="col-11 d-flex justify-content-center">
      <div class="card-main mb-3">
        <div class="card-body">
          <div class="Abbonati text-center">
            <h4>Vieni ed abbonati, a partire da 4,99€ al mese.</h4>
            <p class="privacy">
              Visualizza le informative sulla privacy <a href="#">qui</a>
            </p>
            <br />
            <h4>
              <a [routerLink]="['/register']" href="#">Prima Registrati qui!</a>
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Commedia</div>
      </div>
    </div>
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Thriller</div>
      </div>
    </div>
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Romantici</div>
      </div>
    </div>
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Bambini</div>
      </div>
    </div>
    <div class="col-md-2 me-3">
      <div class="card mb-3">
        <div class="card-body">Documentari</div>
      </div>
    </div>
  </div>
</div>
