<div *ngIf="favoriteMovies.length > 0">
  <h2>I tuoi film preferiti</h2>
  <div class="favorite-list">
    <div *ngFor="let movie of favoriteMovies" class="favorite-item">
      <div class="movie-card mb-5">
        <div class="img-card">
          <img
            src="http://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
            alt="{{ movie.title }} Poster"
            class="poster-image"
            width="300px"
            height="400px"
          />
          <button class="btnRemove" (click)="removeFromFavorites(movie)">
            Elimina
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noFavorites>
    <p>Nessun film preferito al momento.</p>
  </ng-template>
</div>
